<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kintexgroup.hkpsi.information.dao.BidUtilDao">
    <resultMap id="BidUtilMap" type="com.kintexgroup.hkpsi.information.model.RecordAboutQueryTheBidPrice">
        <id column="id" property="id" />
        <result column="quantity" property="quantity"/>
        <result column="price" property="price"/>
        <result column="bidDate" property="bidDate"/>
        <result column="exchangeRate" property="exchangeRate"/>
        <result column="currencySymbol" property="currencySymbol"/>
        <result column="currency" property="currency"/>
        <result column="highPrice" property="highPrice"/>
        <association property="conditions" javaType="com.kintexgroup.hkpsi.information.model.ConditionsAboutQueryTheBidPriceDTO">
            <result column="warehouse" property="warehouse" jdbcType="VARCHAR" javaType="string"/>
            <result column="sku" property="sku" jdbcType="VARCHAR" javaType="string"/>
            <result column="oem" property="oem" jdbcType="VARCHAR" javaType="string"/>
            <result column="description" property="description" jdbcType="VARCHAR" javaType="string"/>
            <result column="modelNumber" property="modelNumber" jdbcType="VARCHAR" javaType="string"/>
            <result column="modelName" property="modelName" jdbcType="VARCHAR" javaType="string"/>
            <result column="model" property="model" jdbcType="VARCHAR" javaType="string"/>
            <result column="capacity" property="capacity" jdbcType="VARCHAR" javaType="string"/>
            <result column="carrier" property="carrier" jdbcType="VARCHAR" javaType="string"/>
            <result column="color" property="color" jdbcType="VARCHAR" javaType="string"/>
            <result column="condition" property="condition" jdbcType="VARCHAR" javaType="string"/>
            <result column="grade" property="grade" jdbcType="VARCHAR" javaType="string"/>
            <result column="fmipLocked" property="fmipLocked" jdbcType="VARCHAR" javaType="string"/>
            <result column="simLocked" property="simLocked" jdbcType="VARCHAR" javaType="string"/>
            <result column="lcdHealth" property="lcdHealth" jdbcType="VARCHAR" javaType="string"/>
        </association>
    </resultMap>
    <select id="getBidUtil" resultMap="BidUtilMap">
        SELECT source_grade            as `grade`,
               bid_qty                 as `quantity`,
               bid_price               as `price`,
               tag                     as `tag`,
               bid_high                as `highPrice`,
               eb.bid_date             as `bidDate`,
               eb.exchange_rate        as `exchangeRate`,
               eb.currency             as `currency`,
               eer.currency_symbol     as `currencySymbol`,
               ebr.source_warehouse    as `warehouse`,
               ebr.source_sku          as `sku`,
               ebr.source_oem          as `oem`,
               ebr.source_description  as `description`,
               ebr.source_model_name   as `modelName`,
               ebr.source_model_number as `modelNumber`,
               ebr.source_model        as `model`,
               ebr.source_capacity     as `capacity`,
               ebr.source_carrier      as `carrier`,
               ebr.source_color        as `color`,
               ebr.source_condition    as `condition`,
               ebr.source_FMiP_locked  as `fmipLocked`,
               ebr.source_SIM_locked   as `simLocked`,
               ebr.source_LCD_health   as `lcdHealth`
        FROM hkpsi_bid_record ebr
                 LEFT JOIN
                 hkpsi_bid eb
                     ON eb.bid_id = ebr.bid_id
                 LEFT JOIN hkpsi_currency eer ON eer.currency_code = eb.currency
                 LEFT JOIN hkpsi_won_bid ewb on eb.bid_id = ewb.bid_id
            WHERE
        <trim prefixOverrides="AND">
            <if test="program != null">
                AND eb.vendor_program = #{program,jdbcType=INTEGER}
            </if>
            <if test="vendor != null">
                AND eb.vendor_id = #{vendor,jdbcType=INTEGER}
            </if>
            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.warehouse != null and index == 0">
                    AND source_warehouse IN (
                </if>
                <if test="item.warehouse != null">
                    #{item.warehouse,jdbcType=VARCHAR}
                </if>
                <if test="item.warehouse != null and index == conditions.size - 1">
                    )
                </if>
            </foreach>
            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.sku != null and index == 0">
                    AND source_sku IN (
                </if>
                <if test="item.sku != null">
                    #{item.sku,jdbcType=VARCHAR}
                </if>
                <if test="item.sku != null and index == conditions.size - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.oem != null and index == 0">
                    AND source_oem IN (
                </if>
                <if test="item.oem != null">
                    #{item.oem,jdbcType=VARCHAR}
                </if>
                <if test="item.oem != null and index == conditions.size - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.description != null and index == 0">
                    AND source_description IN (
                </if>
                <if test="item.description != null">
                    #{item.description,jdbcType=VARCHAR}
                </if>
                <if test="item.description != null and index == conditions.size - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.modelNumber != null and index == 0">
                    AND source_model_number IN (
                </if>
                <if test="item.modelNumber != null">
                    #{item.modelNumber,jdbcType=VARCHAR}
                </if>
                <if test="item.modelNumber != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.modelName != null and index == 0">
                    AND source_model_name IN (
                </if>
                <if test="item.modelName != null">
                    #{item.modelName,jdbcType=VARCHAR}
                </if>
                <if test="item.modelName != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.model != null and index == 0">
                    AND source_model IN (
                </if>
                <if test="item.model != null">
                    #{item.model,jdbcType=VARCHAR}
                </if>
                <if test="item.model != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index"
                     separator=",">
                <if test="item.capacity != null and index == 0">
                    AND source_capacity IN (
                </if>
                <if test="item.capacity != null">
                    #{item.capacity,jdbcType=VARCHAR}
                </if>
                <if test="item.capacity != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.carrier != null and index == 0">
                    AND source_carrier IN (
                </if>
                <if test="item.carrier != null">
                    #{item.carrier,jdbcType=VARCHAR}
                </if>
                <if test="item.carrier != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.color != null and index == 0">
                    AND source_color IN (
                </if>
                <if test="item.color != null">
                    #{item.color,jdbcType=VARCHAR}
                </if>
                <if test="item.color != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index"
                     separator=",">
                <if test="item.condition != null and index == 0">
                    AND source_condition IN (
                </if>
                <if test="item.condition != null">
                    #{item.condition,jdbcType=VARCHAR}
                </if>
                <if test="item.condition != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index" separator=",">
                <if test="item.grade != null and index == 0">
                    AND source_grade IN (
                </if>
                <if test="item.grade != null">
                    #{item.grade,jdbcType=VARCHAR}
                </if>
                <if test="item.grade != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index"
                     separator=",">
                <if test="item.fmipLocked != null and index == 0">
                    AND source_FMiP_locked IN (
                </if>
                <if test="item.fmipLocked != null">
                    #{item.fmipLocked,jdbcType=VARCHAR}
                </if>
                <if test="item.fmipLocked != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index"
                     separator=",">
                <if test="item.simLocked != null and index == 0">
                    AND source_SIM_locked IN (
                </if>
                <if test="item.simLocked != null">
                    #{item.simLocked,jdbcType=VARCHAR}
                </if>
                <if test="item.simLocked != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>

            <foreach collection="conditions" item="item" index="index"
                     separator=",">
                <if test="item.lcdHealth != null and index == 0">
                    AND source_LCD_health IN (
                </if>
                <if test="item.lcdHealth != null">
                    #{item.lcdHealth,jdbcType=VARCHAR}
                </if>
                <if test="item.lcdHealth != null and index == conditions.size() - 1">
                    )
                </if>
            </foreach>
        </trim>

        GROUP BY ebr.bid_id, ebr.created_at, tag
        ORDER BY ebr.created_at DESC;
    </select>

    <select id="queryBidPriceHistory" resultMap="BidUtilMap">
        SELECT `ebr`.`record_id`           AS `id`,
               `bid_qty`                   AS `quantity`,
               `bid_price`                 AS `price`,
               `bid_high`                  AS `highPrice`,
               `eb`.`bid_date`             AS `bidDate`,
               `eb`.`exchange_rate`        AS `exchangeRate`,
               `eb`.`currency`             AS `currency`,
               `eer`.`currency_symbol`     AS `currencySymbol`,
               `ebr`.`source_warehouse`    AS `warehouse`,
               `ebr`.`source_sku`          AS `sku`,
               `ebr`.`source_oem`          AS `oem`,
               `ebr`.`source_description`  AS `description`,
               `ebr`.`source_model_name`   AS `modelName`,
               `ebr`.`source_model_number` AS `modelNumber`,
               `ebr`.`source_model`        AS `model`,
               `ebr`.`source_capacity`     AS `capacity`,
               `ebr`.`source_carrier`      AS `carrier`,
               `ebr`.`source_color`        AS `color`,
               `ebr`.`source_condition`    AS `condition`,
               `ebr`.`source_grade`        AS `grade`,
               `ebr`.`source_FMiP_locked`  AS `fmipLocked`,
               `ebr`.`source_SIM_locked`   AS `simLocked`,
               `ebr`.`source_LCD_health`   AS `lcdHealth`,
               `ebr`.`created_at`          AS `createdAt`
        FROM `hkpsi_bid_record` `ebr`
                 LEFT JOIN
                 `hkpsi_bid` `eb`
                     ON `eb`.`bid_id` = `ebr`.`bid_id`
                 LEFT JOIN `hkpsi_currency` `eer` ON `eer`.`currency_code` = `eb`.`currency`
        WHERE
        <choose>
            <when test="program != null">
                `vendor_program` = #{program, jdbcType=INTEGER} AND
            </when>
            <when test="vendor != null">
                `vendor_id` = #{vendor,jdbcType=INTEGER} AND
            </when>
        </choose>
        <foreach collection="conditions" item="item" open="(" close=")" separator="OR">
            <trim prefixOverrides="AND" prefix="(" suffix=")">
                <if test="item.warehouse != null">
                    AND `source_warehouse` = #{item.warehouse,jdbcType=VARCHAR}
                </if>
                <if test="item.sku != null">
                    AND `source_sku` = #{item.sku,jdbcType=VARCHAR}
                </if>
                <if test="item.oem != null">
                    AND `source_oem` = #{item.oem,jdbcType=VARCHAR}
                </if>
                <if test="item.description != null">
                    AND `source_description` = #{item.description,jdbcType=VARCHAR}
                </if>
                <if test="item.modelName != null">
                    AND `source_model_name` = #{item.modelName,jdbcType=VARCHAR}
                </if>
                <if test="item.modelNumber != null">
                    AND `source_model_number` = #{item.modelNumber,jdbcType=VARCHAR}
                </if>
                <if test="item.model != null">
                    AND `source_model` = #{item.model,jdbcType=VARCHAR}
                </if>
                <if test="item.capacity != null">
                    AND `source_capacity` = #{item.capacity,jdbcType=VARCHAR}
                </if>
                <if test="item.carrier != null">
                    AND `source_carrier` = #{item.carrier,jdbcType=VARCHAR}
                </if>
                <if test="item.color != null">
                    AND `source_color` = #{item.color,jdbcType=VARCHAR}
                </if>
                <if test="item.condition != null">
                    AND `source_condition` = #{item.condition,jdbcType=VARCHAR}
                </if>
                <if test="item.grade != null">
                    AND `source_grade` = #{item.grade,jdbcType=VARCHAR}
                </if>
                <if test="item.fmipLocked != null">
                    AND `source_FMiP_locked` = #{item.fmipLocked,jdbcType=VARCHAR}
                </if>
                <if test="item.simLocked != null">
                    AND `source_SIM_locked` = #{item.simLocked,jdbcType=VARCHAR}
                </if>
                <if test="item.lcdHealth != null">
                    AND `source_LCD_health` = #{item.lcdHealth,jdbcType=VARCHAR}
                </if>
            </trim>
        </foreach>
        GROUP BY `eb`.`created_at`
        <foreach collection="labels" item="label" separator="," open=",">
            ${label}
        </foreach>
        ORDER BY eb.`created_at` DESC;
    </select>
</mapper>
