<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kintexgroup.hkpsi.information.dao.ContactUsDao">
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Mon Sep 14 14:20:02 CST 2020.-->
        <if test="id != null and id != ''">
            id,
        </if>
        <if test="name != null and name != ''">
            name,
        </if>
        <if test="email != null and email != ''">
            email
        </if>
    </sql>
    <insert id="insert" keyColumn="id" keyProperty="id"
        parameterType="com.kintexgroup.hkpsi.information.entity.ContactUs">
        INSERT INTO website_wireless_contact_us(
        <include refid="Base_Column_List"/>
        ) VALUES (
        <if test="id != null and id != ''">
            #{id,jdbcType=BIGINT},
        </if>
        <if test="name != null and name != ''">
            #{name,jdbcType=VARCHAR},
        </if>
        <if test="email != null and email != ''">
            #{email,jdbcType=VARCHAR}
        </if>
        )
    </insert>
</mapper>