<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kintexgroup.hkpsi.sales.dao.GoodsDao">
    <resultMap id="BaseResultMap" type="com.kintexgroup.hkpsi.sales.entity.Goods">
        <!--@mbg.generated generated on Sun Sep 27 16:08:54 CST 2020.-->
        <!--@Table hkpsi_goods-->
        <id column="device_id" jdbcType="INTEGER" property="deviceId"/>
        <result column="sale_order" jdbcType="VARCHAR" property="saleOrder"/>
        <result column="won_bid_number" jdbcType="BIGINT" property="wonBidNumber"/>
        <result column="sku_id" jdbcType="INTEGER" property="skuId"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="imei1" jdbcType="VARCHAR" property="imei1"/>
        <result column="imei2" jdbcType="VARCHAR" property="imei2"/>
        <result column="locked" jdbcType="TINYINT" property="locked"/>
        <result column="icloud" jdbcType="TINYINT" property="icloud"/>
        <result column="attribute" property="attribute"
                typeHandler="com.kintexgroup.hkpsi.common.handler.GenericTypeHandler"/>
        <result column="spu_name" property="modelName"/>
        <result column="spu_brand" property="brandName"/>
        <result column="category" property="category"/>
        <result column="device_in_time" jdbcType="TIMESTAMP" property="deviceInTime"/>
        <result column="device_out_time" jdbcType="TIMESTAMP" property="deviceOutTime"/>
        <result column="disabled" jdbcType="TINYINT" property="disabled"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Sun Sep 27 16:08:54 CST 2020.-->
        device_id, sale_order, won_bid_number, sku_id, price, imei1, imei2, locked, icloud,
        device_in_time, device_out_time, disabled, created_at, created_by, updated_at, updated_by
    </sql>


    <update id="updateBatchInvoiceSelective">
        UPDATE hkpsi_goods
        <trim prefix="SET" suffixOverrides=",">
            sale_order =
            <foreach collection="idImeiList" item="item" open="CASE" close="END,">
                WHEN
                    sku_id = #{item.skuId,jdbcType=VARCHAR} AND
                    imei1 = #{item.imei,jdbcType=VARCHAR}
                    THEN
                    #{map[${item.skuId}].saleOrder,jdbcType=VARCHAR}
            </foreach>
            price =
            <foreach collection="idImeiList" open="CASE" close="END," item="item">
                WHEN
                    sku_id = #{item.skuId,jdbcType=VARCHAR} AND
                    imei1 = #{item.imei,jdbcType=VARCHAR}
                    THEN
                    #{map[${item.skuId}].price,jdbcType=DOUBLE}
            </foreach>
            grade =
            <foreach collection="idImeiList" open="CASE" close="END" item="item">
                WHEN
                    sku_id = #{item.skuId,jdbcType=VARCHAR} AND
                    imei1 = #{item.imei,jdbcType=VARCHAR}
                    THEN
                    #{map[${item.skuId}].grade,jdbcType=VARCHAR}
            </foreach>
        </trim>
        <where>
            imei1 IN
            <foreach collection="idImeiList" item="item" open="(" close=")" separator=",">
                #{item.imei,jdbcType=VARCHAR}
            </foreach>
        </where>
    </update>


    <select id="selectGoods" resultType="java.util.HashMap">
        SELECT goods.device_id      AS `id`,
               goods.price          AS `price`,
               goods.sale_order     AS `saleOrder`,
               goods.imei1          AS `imei`,
               goods.sku_id         AS `sku`,
               goods.locked         AS `isSimLocked`,
               goods.icloud         AS `isCloudLocked`,
               goods.won_bid_number AS `wonBidNumber`,
               sku.attribute        AS `attribute`,
               spu.spu_name         AS `modelName`,
               spu.spu_brand        AS `brandName`,
               spu.category         AS `category`
        FROM `hkpsi_goods` AS goods
                 LEFT JOIN hkpsi_sku sku ON goods.sku_id = sku.id
                 LEFT JOIN hkpsi_spu spu ON sku.spu_id = spu.spu_id

        WHERE imei1 = #{imei,jdbcType=VARCHAR}
          AND (price IS NULL
            OR price = 0)
          AND sale_order = 0
    </select>


    <resultMap id="GoodsVOMap" type="com.kintexgroup.hkpsi.sales.model.GoodsVO">
        <result column="sale_order" property="saleOrder"/>
        <result column="price" property="price"/>
        <result column="imei1" property="imei1"/>
        <result column="imei2" property="imei2"/>
        <result column="locked" property="locked"/>
        <result column="icloud" property="iCloud"/>
        <result column="device_in_time" property="deviceInTime"/>
        <result column="device_out_time" property="deviceOutTime"/>
        <result column="disabled" property="disabled"/>
        <result column="attribute" property="attribute" jdbcType="VARCHAR"/>
        <result column="spu_name" property="modelName"/>
        <result column="spu_brand" property="brandName"/>
        <result column="category" property="category"/>
        <result column="remark" property="remark"/>
        <result column="quantity" property="quantity"/>
        <result column="amount" property="amount"/>
        <result column="currency_symbol" property="currencySymbol"/>
        <result column="exchange_rate" property="exchangeRate"/>
    </resultMap>
    <select id="selectAllGoods" resultMap="GoodsVOMap">
        SELECT sale_order,
               price,
               imei1,
               imei2,
               locked,
               device_in_time,
               icloud,
               device_out_time,
               goods.disabled,
               sku.attribute AS `attribute`,
               spu.spu_name  AS `modelName`,
               spu.spu_brand AS `brandName`,
               spu.category  AS `category`
        FROM `hkpsi_goods` AS goods
                 LEFT JOIN hkpsi_sku sku ON goods.sku_id = sku.id
                 LEFT JOIN hkpsi_spu spu ON sku.spu_id = spu.spu_id
    </select>

    <select id="selectOneBySaleOrderId" resultMap="GoodsVOMap">
        SELECT sale_order,
               spu.spu_name,
               sku.attribute ->> '$.capacity' as capacity,
               sku.attribute ->> '$.model'    as model,
               goods.grade                    as grade,
               locked,
               price,
               device_out_time,
               saleOrder.remark,
               saleOrder.exchange_rate,
               count(sale_order)              as quantity
        FROM `hkpsi_goods` AS goods
                 LEFT JOIN hkpsi_sku sku ON goods.sku_id = sku.id
                 LEFT JOIN hkpsi_spu spu ON sku.spu_id = spu.spu_id
                 LEFT JOIN hkpsi_sale_order saleOrder ON saleOrder.id = goods.sale_order
        WHERE sale_order = #{saleOrderId,jdbcType=VARCHAR}
        group by sale_order, spu.spu_name, sku.attribute ->> '$.capacity', sku.attribute ->> '$.model',
                 goods.grade, locked, price, device_out_time,
                 saleOrder.remark
    </select>

    <select id="selectCountHandlingCharge" resultType="java.lang.Double">
        SELECT convert(count_price * (handling_charge / 100), decimal(8, 2)) as handlingCharge
        from hkpsi_sale_order
        where id = #{saleOrderId,jdbcType=VARCHAR}
    </select>
    <select id="selectExchangeRate" resultType="java.lang.Double">
        SELECT exchange_rate
        from hkpsi_sale_order
        where id = #{saleOrderId,jdbcType=VARCHAR}
    </select>

    <select id="selectOneOrMany" parameterType="com.kintexgroup.hkpsi.sales.model.GoodsPageDTO"
            resultMap="BaseResultMap">
        SELECT goods.imei1,
               spu.category,
               spu.spu_brand,
               spu.spu_name,
               sku.attribute,
               goods.sale_order,
               goods.price,
               goods.locked,
               goods.device_in_time,
               goods.icloud,
               goods.device_out_time,
               goods.disabled
        FROM `hkpsi_goods` AS goods
                 LEFT JOIN hkpsi_sku sku ON goods.sku_id = sku.id
                 LEFT JOIN hkpsi_spu spu ON sku.spu_id = spu.spu_id
        <where>
            <if test="imei1 != null and imei1 != ''">
                AND goods.imei1 LIKE CONCAT('%', #{imei1,jdbcType=VARCHAR}, '%')
            </if>
            <if test="category != null and category != ''">
                AND spu.category LIKE CONCAT('%', #{category,jdbcType=VARCHAR}, '%')
            </if>
            <if test="brandName != null and brandName != ''">
                AND spu.spu_brand LIKE CONCAT('%', #{brandName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="modelName != null and modelName != ''">
                AND spu.spu_name LIKE CONCAT('%', #{modelName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="model != null and model != ''">
                AND attribute -> '$.model' LIKE CONCAT('%', #{model,jdbcType=VARCHAR}, '%')
            </if>
            <if test="color != null and color != '' != null">
                AND attribute -> '$.color' LIKE CONCAT('%', #{color,jdbcType=VARCHAR}, '%')
            </if>
            <if test="capacity != null and capacity != ''">
                AND attribute -> '$.capacity' LIKE CONCAT('%', #{capacity,jdbcType=INTEGER}, '%')
            </if>
            <if test="saleOrder != null and saleOrder != ''">
                AND goods.sale_order LIKE CONCAT('%', #{saleOrder,jdbcType=VARCHAR}, '%')
            </if>
            <if test="price != null and price != ''">
                AND goods.price LIKE CONCAT('%', #{price,jdbcType=DECIMAL}, '%')
            </if>
            <if test="disabled != null and disabled != ''">
                AND goods.disabled = #{disabled,jdbcType=TINYINT}
            </if>
        </where>
    </select>

    <resultMap id="IdCostPriceMap" type="java.util.Map">
        <result property="key" column="key" javaType="String"/>
        <result property="value" column="value" javaType="Double"/>
    </resultMap>
    <select id="batchSelectCostPrice" resultMap="IdCostPriceMap">
        SELECT eg.sku_id AS `key`, (won_price / won_qty) AS `value`
        FROM hkpsi_goods eg
                 LEFT JOIN hkpsi_bid_record ebr ON eg.won_bid_number = ebr.won_id
            WHERE eg.imei1 IN (
        <foreach collection="idImeiMap.values()" item="imei" separator=",">
            #{imei,jdbcType=VARCHAR}
        </foreach>
        )
            and ebr.tag = (select sku_tag
                           from hkpsi_vendor_sku
            where k_sku_id IN (
        <foreach collection="idImeiMap.keySet()" separator="," item="skuId">
            #{skuId,jdbcType=VARCHAR}
        </foreach>
        ));
    </select>

    <select id="checkImei" resultType="boolean">
        SELECT COUNT(*)
        FROM hkpsi_goods WHERE imei1 IN (
        <foreach collection="collection" item="item" separator=",">
            #{item.imei1,jdbcType=VARCHAR}
        </foreach>
        )
    </select>
</mapper>