<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao接口-->
<mapper namespace="com.kintexgroup.hkpsi.information.dao.SkuAttributeDao">
    <resultMap id="sku" type="com.kintexgroup.hkpsi.information.entity.SkuAttribute">
        <id property="id" column="attribute_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="name" column="attribute_name"/>
        <result property="description" column="description"/>
    </resultMap>
    <insert id="insert" keyColumn="attribute_id"
        keyProperty="id"
        parameterType="java.util.HashSet"
        useGeneratedKeys="true">
        INSERT INTO `hkpsi_sku_attribute` (`category_id`, `attribute_name`, `description`)
            VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.categoryId,jdbcType = INTEGER},
             #{item.name,jdbcType=VARCHAR},
             #{item.description,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <select id="selectOne" parameterType="java.lang.Integer" resultMap="sku">
        SELECT `attribute_id`,`category_id`, `attribute_name`, `description`
        FROM `hkpsi_sku_attribute`
        WHERE category_id = #{categoryId,jdbcType = INTEGER} LIMIT 1
    </select>
    <select id="selectAll" resultMap="sku">
        SELECT `attribute_id`,`category_id`, `attribute_name`, `description`
        FROM `hkpsi_sku_attribute`
    </select>
<!--    批量删除-->
    <delete id="delete" parameterType="java.util.List">
        DELETE
        FROM `hkpsi_sku_attribute`
        WHERE `attribute_id` in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
        #{item,jdbcType=INTEGER}
        </foreach>
    </delete>
    <update id="updateOne">
        UPDATE `hkpsi_sku_attribute`
        <set>
            <trim prefix="`description` = CASE `attribute_id`" suffix="END">
                <foreach collection="list" item="item">
                    <if test="item.description != null">
                        WHEN #{item.id, jdbcType=INTEGER} THEN #{item.description, jdbcType=VARCHAR}
                    </if>
                </foreach> 
            </trim>
        </set>
        WHERE `attribute_id` IN
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item.id, jdbcType=INTEGER}
        </foreach>
        AND `category_id` = #{categoryId, jdbcType=BIGINT};
    </update>
    <select id="checkUpdate" resultType="java.lang.Boolean">
        SELECT count(*)
        FROM `hkpsi_sku_attribute`
        WHERE `attribute_id` = #{id,jdbcType=INTEGER}
    </select>
    <select id="check"
        resultType="java.lang.Boolean">
        SELECT count(*)
        FROM `hkpsi_sku_attribute`
        WHERE `category_id` = #{categoryId,jdbcType=INTEGER}
          AND `attribute_name` = #{name,jdbcType=VARCHAR}
    </select>


    <!--    <select id="countAll"  resultType="java.lang.Integer">-->
    <!--        SELECT COUNT(*)-->
    <!--        FROM `hkpsi_sku_attribute`-->
    <!--    </select>-->
</mapper>